html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $text;
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

body {
  font-size: 18px;
  @extend %rubik-400;
}

.container {
  max-width: 1200px;
  padding: 0 14px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  @extend %rubik-500;
  line-height: 30px;
  text-transform: capitalize;
  text-align: center;
}

.accent-text {
  color: $accent;
}

.burger {
  display: none;
}
