.svg-basket-icon-dims {
  width: 21px;
  height: 20px;
}
.svg-email-dims {
  width: 22px;
  height: 20px;
}
.svg-facebook-dims {
  width: 39px;
  height: 39px;
}
.svg-instagram-dims {
  width: 39px;
  height: 39px;
}
.svg-location-dims {
  width: 18px;
  height: 20px;
}
.svg-logo-dims {
  width: 106px;
  height: 30px;
}
.svg-phone-dims {
  width: 22px;
  height: 22px;
}
.svg-pinterest-dims {
  width: 39px;
  height: 39px;
}
.svg-search-icon-dims {
  width: 21px;
  height: 21px;
}
.svg-twitter-dims {
  width: 39px;
  height: 39px;
}
