.svg-basket-icon-dims {
  width: 21px;
  height: 20px;
}
.svg-delivery-icon-dims {
  width: 33px;
  height: 34px;
}
.svg-email-dims {
  width: 22px;
  height: 20px;
}
.svg-facebook-dims {
  width: 39px;
  height: 39px;
}
.svg-instagram-dims {
  width: 39px;
  height: 39px;
}
.svg-location-dims {
  width: 18px;
  height: 20px;
}
.svg-logo-dims {
  width: 102px;
  height: 25px;
}
.svg-phone-dims {
  width: 22px;
  height: 22px;
}
.svg-pinterest-dims {
  width: 39px;
  height: 39px;
}
.svg-search-icon-dims {
  width: 21px;
  height: 21px;
}
.svg-store-icon-dims {
  width: 35px;
  height: 37px;
}
.svg-timer-icon-dims {
  width: 41px;
  height: 34px;
}
.svg-toparrow-icon-dims {
  width: 24px;
  height: 24px;
}
.svg-toptimer-icon-dims {
  width: 22px;
  height: 22px;
}
.svg-twitter-dims {
  width: 39px;
  height: 39px;
}
