$text: #363853;
$accent: #ff7a50;
%rubik-400 {
  font-family: "Rubik-Regular";
  font-weight: 400;
}
%rubik-500 {
  font-family: "Rubik-Medium";
  font-weight: 500;
}

%btn {
  color: #ffffff;
  background-color: #ff7a50;
}
