@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";
@import "sprite";

.header {
  padding: 50px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__list-item + .menu__list-item {
    margin-left: 60px;
  }

  &__list-link {
    font-size: 18px;
    text-decoration: none;
  }

  &__list-link:hover {
    color: $accent;
  }

  &__list-link--sign {
    width: 120px;
    height: 50.408px;
    padding: 14px 28px;
    border-radius: 5px;
    box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
    @extend %btn;
  }

  &__list-link--sign:hover {
    color: #ffffff;
  }
}

.top {
  padding-top: 100px;
  min-height: calc(100vh - 121px);

  &__inner {
    display: flex;
  }

  &__info {
    padding-top: 100px;
    max-width: 530px;
  }

  &__title {
    font-size: 66px;
    @extend %rubik-500;
    margin-bottom: 23px;
  }

  &__subtitle {
    font-size: 20px;
    @extend %rubik-400;
    margin-bottom: 45px;
  }

  &__links {
    font-size: 20px;
    @extend %rubik-400;
  }

  &__img {
  }

  &__btn {
    @extend %btn;
    padding: 13px 21px;
    display: inline-block;
    margin-right: 30px;
    box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
    border-radius: 5px;
  }

  &__link {
    text-decoration: underline;
  }
}

.category {
  &__title {
    padding-bottom: 55px;
  }

  &__slider {
  }

  &__slider-buttons {
    padding-bottom: 39px;
  }

  &__buttons-list {
    display: flex;
    justify-content: space-between;
  }

  &__buttons-item {
    padding: 13px 47px;
    border-radius: 8px;
    font-style: 20px;
    cursor: pointer;
    background-color: #ffffff;
  }

  &__buttons-item--active {
    @extend %btn;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  }

  &__slider-items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    position: relative;
  }

  .slick-prev,
  .slick-next {
    display: none;
  }

  .slick-arrows {
    bottom: 0;
    position: absolute;
  }

  // .slick-next {
  // }

  &__slider-item {
    width: 208px;
    background-color: #ffffff;
    display: flex !important;
    align-items: center;
    flex-direction: column;
  }

  &__item-img {
    padding-bottom: 25px;
  }

  &__item-title,
  &__item-price {
    font-size: 15px;
    margin-bottom: 11px;
  }

  &__item-link {
    color: #ffffff;
    font-size: 15px;
    @extend %btn;
    border-radius: 2px;
    padding: 7px 13px;
    margin-bottom: 29px;
  }
}

.advantages {
  padding-bottom: 60px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    max-width: 626px;
    overflow: hidden;
  }

  &__info {
    max-width: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__info-title {
    @extend %rubik-500;
    font-size: 36px;
    line-height: 50px;
    text-transform: capitalize;
    margin-bottom: 30px;
  }

  &__info-text {
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  &__info-time {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
    text-transform: capitalize;
    position: relative;
    padding-left: 50px;
    background-repeat: no-repeat;
    &::before {
      background-image: url(../images/sprite.svg#timer-icon);
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      left: -20px;
      content: "";
    }
  }

  &__info-deliveryMen {
    font-size: 24px;
    margin-bottom: 18px;
    line-height: 30px;
    text-transform: capitalize;
    position: relative;
    padding-left: 50px;
    &::before {
      background-image: url(../images/sprite.svg#delivery-icon);
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      left: -20px;
      bottom: 0;
      content: "";
      background-size: contain;
    }
  }

  &__info-stores {
    font-size: 24px;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 50px;
    position: relative;
    padding-left: 50px;
    &::before {
      background-image: url(../images/sprite.svg#store-icon);
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      left: -20px;
      bottom: 0;
      content: "";
      background-size: contain;
    }
  }

  &__info-link {
    border-radius: 30px 30px 1px 30px;
    background: $accent;
    box-shadow: 0px 22px 40px 0px rgba(255, 104, 56, 0.19);
    color: #ffffff;
    font-size: 20px;
    display: block;
    max-width: 176px;
    padding: 17px 44px;
  }
}

.top-food {
  padding-bottom: 83px;
  &__title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 30px;
    text-transform: capitalize;
    @extend %rubik-500;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin-bottom: 43px;
    background-color: #ffffff;
    border-radius: 53px 5px;
  }

  &__item-img {
    max-width: 361px;
    margin-bottom: 22px;
  }

  &__item-title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  &__item-info {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
  }

  &__item-time {
    position: relative;
    padding-left: 50px;
    padding-right: 27px;
    &::before {
      background-image: url(../images/sprite.svg#toptimer-icon);
      position: absolute;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      left: 0px;
      bottom: 0;
      content: "";
      background-size: contain;
    }
  }

  &__item-link {
    padding: 7px 30px;
    @extend %btn;
    box-shadow: 0px 5px 12px 0px rgba(255, 104, 56, 0.19);
    border-radius: 20px 20px 0px 20px;
  }

  &__item-arrow {
  }
}

.footer {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: #37383d;
    padding-bottom: 25px;
  }

  &__info {
    max-width: 230px;
  }

  &__logo {
    padding-bottom: 30px;
  }

  &__info-phone,
  &__info-email,
  &__info-location {
    display: flex;
    padding-bottom: 30px;
    align-items: center;
    position: relative;
    gap: 10px;
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
  }

  &__social-item {
  }

  &__social-link {
  }

  &__service {
  }

  &__service-title,
  &__company-title,
  &__supports-title,
  &__resources-title {
    padding-bottom: 30px;
    @extend %rubik-500;
    font-size: 18px;
  }

  &__service-list,
  &__company-list,
  &__supports-list,
  &__resources-list {
    width: 165px;
  }

  &__service-item,
  &__company-item,
  &__supports-item,
  &__resources-item {
    padding-bottom: 30px;
  }

  &__service-link {
  }

  &__company {
  }

  &__company-link {
  }

  &__supports {
  }

  &__supports-link {
  }

  &__resources {
  }

  &__resources-link {
  }

  &__copywriting {
    border-top: 1px solid rgb(150, 150, 150, 0.2);
    padding: 26px 0 36px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    @extend %rubik-400;
  }

  &__copywriting-list {
    display: flex;
  }

  &__copywriting-item + &__copywriting-item {
    margin-left: 52px;
  }

  &__copywriting-link {
    color: #646464;
  }
}

@import "media";
