<section class="advantages">
  <div class="container">
    <div class="advantages__inner">
      <div class="advantages__img">
        <img src="../images/advantages.webp" alt="" />
      </div>
      <div class="advantages__info">
        <h2 class="advantages__info-title">
          <span class="accent-text">Stay</span> at home, we will Provide
          <span class="accent-text">good food</span>
        </h2>
        <div class="advantages__info-text">
          We provide tasty food and superfast delivery at your home. Let’s use
          our services right now and get discounts of up to 50%.
        </div>
        <div class="advantages__info-time">fasted delivery in 30 Minutes</div>
        <div class="advantages__info-deliveryMen">300+ delivery men</div>
        <div class="advantages__info-stores">500+ restaurant & cafe shop</div>
        <a class="advantages__info-link" href="#">See more</a>
      </div>
    </div>
  </div>
</section>
