<section class="category">
  <div class="container">
    <h3 class="category__title title">
      Our popular <span class="accent-text">Category</span>
    </h3>
    <div class="category__slider">
      <div class="category__buttons">
        <button
          class="category__buttons-item category__buttons-item--active"
          data-category="0">
          <svg class="category__buttons-icon">
            <use xlink:href="../images/sprite.svg#burger-icon"></use>
          </svg>
          <span class="category__buttons-text">Burger</span>
        </button>
        <button class="category__buttons-item" data-category="1">
          <svg class="category__buttons-icon">
            <use xlink:href="../images/sprite.svg#pizza-icon"></use>
          </svg>
          <span class="category__buttons-text">Pizza</span>
        </button>
        <button class="category__buttons-item" data-category="2">
          <svg class="category__buttons-icon">
            <use xlink:href="../images/sprite.svg#sandwich-icon"></use>
          </svg>
          <span class="category__buttons-text">Sandwich</span>
        </button>
        <button class="category__buttons-item" data-category="3">
          <svg class="category__buttons-icon">
            <use xlink:href="../images/sprite.svg#asian-food-icon"></use>
          </svg>
          <span class="category__buttons-text">Asian Food</span>
        </button>
        <button class="category__buttons-item" data-category="4">
          <svg class="category__buttons-icon">
            <use xlink:href="../images/sprite.svg#set-menu-icon"></use>
          </svg>
          <span class="category__buttons-text">Set Menu</span>
        </button>
      </div>
      <div class="category__slider-inner">
        <div
          class="category__slider-typeFood category__slider-typeFood--active">
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger1.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="category__slider-typeFood">
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger2.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="category__slider-typeFood">
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger3.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="category__slider-typeFood">
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger4.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
        </div>
        <div class="category__slider-typeFood">
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
          <div class="category__slider-items">
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
            <div class="category__slider-item">
              <img
                class="category__item-img"
                src="../images/burger5.png"
                alt="burger image" />
              <h5 class="category__item-title">Best Burger</h5>
              <p class="category__item-price">$ 16.00</p>
              <a class="category__item-link" href="#">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
