<section class="category">
  <div class="container">
    <h3 class="category__title title">
      Our popular <span class="accent-text">Category</span>
    </h3>
    <div class="category__slider">
      <div class="category__slider-buttons">
        <ul class="category__buttons-list">
          <li class="category__buttons-item">Burger</li>
          <li class="category__buttons-item">Pizza</li>
          <li class="category__buttons-item">Sandwich</li>
          <li class="category__buttons-item">Asian Food</li>
          <li class="category__buttons-item">Set Menu</li>
        </ul>
      </div>
      <div class="category__slider-items">
        <div class="category__slider-item">
          <img
            class="category__item-img"
            src="../images/cheesburger1.png"
            alt="burger image" />
          <h5 class="category__item-title">Best Burger</h5>
          <div class="category__item-price">$ 16.00</div>
          <a class="category__item-link" href="#">Add to Cart</a>
        </div>
        <div class="category__slider-item">
          <img
            class="category__item-img"
            src="../images/cheesburger1.png"
            alt="burger image" />
          <h5 class="category__item-title">Best Burger</h5>
          <div class="category__item-price">$ 16.00</div>
          <a class="category__item-link" href="#">Add to Cart</a>
        </div>
        <div class="category__slider-item">
          <img
            class="category__item-img"
            src="../images/cheesburger1.png"
            alt="burger image" />
          <h5 class="category__item-title">Best Burger</h5>
          <div class="category__item-price">$ 16.00</div>
          <a class="category__item-link" href="#">Add to Cart</a>
        </div>
        <div class="category__slider-item">
          <img
            class="category__item-img"
            src="../images/cheesburger1.png"
            alt="burger image" />
          <h5 class="category__item-title">Best Burger</h5>
          <div class="category__item-price">$ 16.00</div>
          <a class="category__item-link" href="#">Add to Cart</a>
        </div>
        <div class="category__slider-item">
          <img
            class="category__item-img"
            src="../images/cheesburger1.png"
            alt="burger image" />
          <h5 class="category__item-title">Best Burger</h5>
          <div class="category__item-price">$ 16.00</div>
          <a class="category__item-link" href="#">Add to Cart</a>
        </div>
        <div class="category__buttons slick-arrows">
          <button type="button" class="slick-prev">Previous</button>
          <button type="button" class="slick-next">Next</button>
        </div>
      </div>
    </div>
  </div>
</section>
