<section class="category">
  <div class="container">
    <h3 class="category__title title">
      Our popular <span class="accent-text">Category</span>
    </h3>
    <div class="category__slider">
      <div class="category__slider-buttons">
        <ul class="category__buttons-list">
          <li class="category__buttons-item">
            <img
              class="category__buttons-img"
              src="../images/sprite.svg#burger-icon"
              alt="burger image" />
            Burger
          </li>
          <li class="category__buttons-item">
            <img
              class="category__buttons-img"
              src="../images/sprite.svg#pizza-icon"
              alt="pizza image" />
            Pizza
          </li>
          <li class="category__buttons-item">
            <img
              class="category__buttons-img"
              src="../images/sprite.svg#sandwich-icon"
              alt="sandwich image" />
            Sandwich
          </li>
          <li class="category__buttons-item">
            <img
              class="category__buttons-img"
              src="../images/sprite.svg#asian-food-icon"
              alt="asian food- image" />
            Asian Food
          </li>
          <li class="category__buttons-item">
            <img
              class="category__buttons-img"
              src="../images/sprite.svg#set-menu-icon"
              alt="set menu image" />
            Set Menu
          </li>
        </ul>
      </div>
      <div class="category__slider-inner">
        <div class="category__slider-items">
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="category__slider-items">
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="category__slider-items">
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
        </div>
        <div class="category__slider-items">
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
          <div class="category__slider-item">
            <img
              class="category__item-img"
              src="../images/cheesburger1.png"
              alt="burger image" />
            <h5 class="category__item-title">Best Burger</h5>
            <div class="category__item-price">$ 16.00</div>
            <a class="category__item-link" href="#">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
