<header class="header">
  <div class="container">
    <div class="header__inner">
      <button class="burger">
        <span></span>
      </button>
      <div class="logo">
        <svg class="svg-logo-dims">
          <use href="images/sprite.svg#logo" alt="logo" />
        </svg>
      </div>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Home</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Service</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Top cities</a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="#">Contract</a>
          </li>
        </ul>
        <ul class="menu__user-list">
          <li class="menu__user-item">
            <a class="menu__user-link" href="#">
              <svg class="svg-search-icon-dims">
                <use href="images/sprite.svg#search-icon"" alt="search-icon"/>
              </svg>
            </a>
          </li>
          <li class="menu__user-item">
            <a class="menu__user-link menu__user-link--basket" href="#">
              <svg class="svg-basket-icon-dims">
                <use href="images/sprite.svg#basket-icon" alt="basket-icon" />
              </svg>
              <span class="menu__basket-num">4</span>
            </a>
          </li>
          <li class="menu__user-item">
            <button href="#" class="menu__user-link menu__user-link--sign">
              Sign Up
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
