<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header__top">
        <div class="logo">
          <svg class="svg-logo-dims">
            <use href="images/sprite.svg#logo" alt="logo" />
          </svg>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Home</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Service</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Top cities</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">Contract</a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">
                <svg class="svg-search-icon-dims">
                  <use href="images/sprite.svg#search-icon"" alt="search-icon"/>
                </svg>
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#">
                <svg class="svg-basket-icon-dims">
                  <use href="images/sprite.svg#basket-icon" alt="basket-icon" />
                </svg>
              </a>
            </li>
            <li class="menu__list-item">
              <a href="#" class="menu__list-link menu__list-link--sign">
                Sign Up
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__content">
        <h1 class="header__content-title">
          Super fast <span>Food delivery</span> service
        </h1>
        <h3 class="header__content-subtitle">
          We provide super fast-delivery service. Let’s use our services right
          now and get discounts of up to 50%
        </h3>
        <div class="header__content-links">
          <a class="header__content-btn" href="#"> Explore Food </a>
          <a class="header__content-link" href="#">Download App</a>
        </div>
      </div>
    </div>
  </div>
</header>
