<section class="mobile-app">
  <div class="container">
    <div class="mobile-app__inner">
      <div class="mobile-app__info">
        <h2 class="mobile-app__title">
          Download Our <span class="accent-text">Mobile App</span>
        </h2>
        <p class="mobile-app__text">
          It's all at your fingertips -- the restaurants you love. Find the
          right food to suit your mood, and make the first bite last. Go ahead,
          download app and get 50% discount
        </p>
        <div class="mobile-app__wrapper-links">
          <a class="mobile-app__link" href="#">
            <svg class="svg-apple-store-icon-dims">
              <use xlink:href="../images/sprite.svg#apple-store"></use>
            </svg>
          </a>
          <a lass="mobile-app__link" href="#">
            <img
              class="mobile-app__link-google"
              src="../images/google-play-icon.webp"
              alt="google-play image" />
          </a>
        </div>
      </div>
      <div class="mobile-app__image-wrapper">
        <img
          class="mobile-app__image"
          src="../images/phones.webp"
          alt="phone image" />
      </div>
    </div>
  </div>
</section>
