<section class="reviews">
  <div class="container">
    <div class="reviews__inner">
      <img class="reviews__img" src="../images/reviews.webp" />
      <div class="reviews__items">
        <div class="reviews__item">
          <p class="reviews__item-text">
            EFood has the most intriguing food order system in the country. UI
            in both their app and web Is very simple and easy to use, enhancing
            the UX. Their delivery men are also quite professional and knows the
            neighborhood well. Till now I never had to guide them to my address
            for delivery;
          </p>
          <div class="reviews__item-author">
            <h5 class="reviews__item-name">Anglina Jole</h5>
            <p class="reviews__item-post">Food lover</p>
          </div>
        </div>
        <div class="reviews__item">
          <p class="reviews__item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dignissimos, voluptatem beatae blanditiis nam itaque aut voluptates!
            Deserunt voluptas eveniet optio, aut atque corrupti, sed dicta eum
            eius totam, modi officiis?
          </p>
          <div class="reviews__item-author">
            <h5 class="reviews__item-name">Anglina Jole</h5>
            <p class="reviews__item-post">Food lover</p>
          </div>
        </div>
        <div class="reviews__item">
          <p class="reviews__item-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum ab
            exercitationem perspiciatis deleniti repellat aliquid ducimus iste
            dignissimos dicta porro doloribus accusantium recusandae repellendus
            nesciunt possimus fugit, omnis ut autem!
          </p>
          <div class="reviews__item-author">
            <h5 class="reviews__item-name">Anglina Jole</h5>
            <p class="reviews__item-post">Food lover</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
