<section class="subscribe">
  <div class="container">
    <div class="subscribe__inner">
      <h2 class="subscribe__title">Subscribe to get the Latest Offer</h2>
      <p class="subscribe__text">
        Get our daily updates by subscribing to our newspaper, please drop your
        email below
      </p>
      <form class="subscribe__form">
        <input
          type="text"
          class="subscribe__input"
          placeholder="Enter your email addres" />
        <button class="subscribe__btn">Subscribe</button>
      </form>
    </div>
  </div>
</section>
