<section class="top-food">
  <div class="container">
    <h2 class="top-food__title">
      Top Food <span class="accent-text">restaurant</span>
    </h2>
    <div class="top-food__items">
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food1.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="arrow-icon" />
            </svg>
          </a>
        </div>
      </div>
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food2.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="arrow-icon" />
            </svg>
          </a>
        </div>
      </div>
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food3.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="arrow-icon" />
            </svg>
          </a>
        </div>
      </div>
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food4.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="toparrow-icon" />
            </svg>
          </a>
        </div>
      </div>
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food5.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="arrow-icon" />
            </svg>
          </a>
        </div>
      </div>
      <div class="top-food__item">
        <img
          class="top-food__item-img"
          src="../images/food6.webp"
          alt="food image" />
        <div class="top-food__item-title">Blaze Pizza</div>
        <div class="top-food__item-info">
          <div class="top-food__item-time">11.00 AM - 10.00 PM</div>
          <a class="top-food__item-link" href="#">
            <svg class="svg-toparrow-icon-dims">
              <use href="images/sprite.svg#toparrow-icon" alt="arrow-icon" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
