<section class="top">
  <div class="container">
    <div class="top__inner">
      <div class="top__info">
        <h1 class="top__title">
          Super fast <span class="accent-text">Food delivery</span> service
        </h1>
        <h3 class="top__subtitle">
          We provide super fast-delivery service. Let’s use our services right
          now and get discounts of up to 50%
        </h3>
        <div class="top__links">
          <a class="top__btn" href="#"> Explore Food </a>
          <a class="top__link" href="#">Download App</a>
        </div>
      </div>
      <div class="top__img">
        <img src="../images/header.webp" alt="" />
      </div>
    </div>
  </div>
</section>
